
.pipeline-main * {
  background: none;
  box-shadow: none;
}

.pipeline-main{
   background-color: transparent;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 150px;
   flex-wrap: nowrap;
   overflow-x: auto;
   padding: 10px;
}

.pipeline-text {
  color: #00d4ff;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

h2 {
  font-size: 60px;
  margin: 15px 0;
  color: #ffffff;
  font-weight: 800;
  margin-top:20px;
  line-height: 1.2;
}

.descen {
  color: #a8b2d1;
  margin: 0 0 50px 0;
  font-size: 25px;
  max-width: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: rgba(255, 255, 255, 0.04) ;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 30px;
  transition: 0.3s ease;
}

.card:hover {
  transform:translateY(-3px) scale(1.05);

    box-shadow:
        0 0 25px #2563eb,
        0 0 45px #9333ea;
  border-color: #6f5cff;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(0, 212, 255, 0.12) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00d4ff;
  margin-bottom: 18px;
}

.card span {
  color: #8a8aff;
  font-weight: 700;
  font-size: 20px;
  display: block;
}

.card h3 {
  margin: 15px 0 35px;
  color: #ffffff;
  font-size: 25px;
}

.card p {
  color: #a8b2d1;
  line-height: 1.7;
  font-size: 20px;
  margin: 0;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .cards {
    grid-template-columns: 1fr;
  }
}